<div class="Background">
    <div class="TopBar">
        <button class="Boton" type="button"><img src="assets/Images/Logo.svg" alt="Logo"></button>
        <button class="Boton" (click)="GoPacientes()">● Pacientes</button>
        <button class="Boton">● Historial</button>
        <button class="Boton" (click)="GoAgenda()">● Agenda</button>
    </div>
    <div class="Titulos">
        <h1>NUTRIÓLOGA</h1>
        <h2>Dra. María Dolores Caballero Sánchez</h2>
    </div>
    <img class="salad-image" src="assets/Images/Salad.png" alt="Ensalada">
</div>
