/* You can add global styles to this file, and also import other style files */
@import "../node_modules/angular-calendar/css/angular-calendar.css";
@font-face {
    font-family: 'Josefin Sans';
    src: url('./assets/Fonts/JosefinSans.ttf') format('truetype');
    /* Otros estilos de fuente, como font-weight, font-style, etc. */
}

body {
    margin: 0px;
    width: 100%;
    height: 100%;
}